<header class="header standard">
    <a ui-sref="homepage" class="logo standard"></a>
    <dl class="form_cell form_cell_v1_mod header_search">
        <dt class="form_c_hline form_v1_mod hline_hide_mod header_mod">
            <label for="search">Search for facilities, products, employees etc...</label>
        </dt>
        <dd class="form_c_f_w form_v1_mod hline_hide_mod header_mod">
            <input type="text" id="search" ng-model="query" placeholder="Search for facilities, products, employees etc..." class="f_c_field second_mod header_mod " gf-enter="search(query)"/>
        </dd>
    </dl>
    <a ui-sref="messageCenter" title="Messaging Center" class="user_menu_msg_center_butt"></a>
    <nav class="user_menu_block">
        <div class="user_menu_butt">Menu<span class="user_menu_butt_decor"></span></div>
        <div class="user_menu_w">
            <ul class="section_menu_list header_mod">
                <li class="section_menu_l_item header_mod"><a ui-sref="messageCenter" title="Messaging Center" class="section_menu_link header_mod">Messaging Center</a></li>
                <li class="section_menu_l_item header_mod"><a href="" title="Wizard Menu" class="section_menu_link header_mod">Wizard Menu</a>
                    <ul class="section_menu_list header_mod sub_mod">
                        <li class="section_menu_l_item header_mod"><a href="" title="Add Operations" class="section_menu_link header_mod">Add Operations<span class="section_m_link_count">2k</span></a></li>
                        <li class="section_menu_l_item header_mod"><a href="" title="Add Products" class="section_menu_link header_mod">Add Products<span class="section_m_link_count">3k</span></a></li>
                        <li class="section_menu_l_item header_mod"><a href="" title="Add Services" class="section_menu_link header_mod">Add Services<span class="section_m_link_count">3k</span></a></li>
                        <li class="section_menu_l_item header_mod"><a href="" title="Add Supply Chain" class="section_menu_link header_mod">Add Supply Chain<span class="section_m_link_count">3k</span></a></li>
                        <li class="section_menu_l_item header_mod"><a href="" title="Add Document/Certificates" class="section_menu_link header_mod">Add Document/Certificates<span class="section_m_link_count">3k</span></a></li>
                        <li class="section_menu_l_item header_mod"><a href="" title="Add Auditors" class="section_menu_link header_mod">Add Auditors<span class="section_m_link_count">5k</span></a></li>
                        <li class="section_menu_l_item header_mod"><a href="" title="Add Lab" class="section_menu_link header_mod">Add Lab<span class="section_m_link_count">5k</span></a></li>
                    </ul>
                </li>
            </ul>
            <div class="section_menu_list header_2_mod">
                <div class="section_menu_l_item header_2_mod">
                    <div class="section_menu_link header_2_mod">Account Menu</div>
                </div>
                <ul>
                    <li class="section_menu_l_item header_2_mod"><a href="" title="Edit Profile" class="section_menu_link header_2_mod hovered_2_mod">Edit Profile</a></li>
                    <li class="section_menu_l_item header_2_mod"><a href="" title="Account Settings" class="section_menu_link header_2_mod hovered_2_mod">Account Settings</a></li>
                    <li class="section_menu_l_item header_2_mod"><a href="" title="Help Center" class="section_menu_link header_2_mod hovered_2_mod">Help Center</a></li>
                    <li class="section_menu_l_item header_2_mod"><a href="" title="Logout" class="section_menu_link header_2_mod hovered_2_mod">Logout</a></li>
                </ul>
            </div>
            <div class="invite_users_butt">Invite Users</div>
        </div>
    </nav>
    <div class="user_block header_mod ">
        <div class="user_avatar_w header_mod ">
            <a ui-sref="userEditProfile">
                <img src="i/header_user_ava.jpg" alt="Ron Vail" class="user_avatar_img header_mod"/>
            </a>
        </div>
    </div>
</header>