<div id="invite_users" style="display:none" title="Invite Users">
    <div class="dialog_content">
        <div class="tabs_v1">
            <ul class="dialog_tab_list">
                <li class="dialog_tab_l_item"><a href="#user_invite_tab_1" title="" class="dialog_tab_1_butt">Invite Users</a></li>
                <li class="dialog_tab_l_item"><a href="#user_invite_tab_2" title="" class="dialog_tab_1_butt">Invited</a></li>
            </ul>
            <div id="user_invite_tab_1" class="tab_block">
                <div class="dialog_form">
                    <dl class="form_cell form_cell_v1_mod">
                        <dt class="form_c_hline form_v1_mod hline_hide_mod">
                            <label for="Enter_name_of_user1">Enter name of user</label>
                        </dt>
                        <dd class="form_c_f_w form_v1_mod hline_hide_mod">
                            <input type="text" id="Enter_name_of_user1" placeholder="Enter name of user" class="f_c_field default_mod ">
                        </dd>
                    </dl>
                    <dl class="form_cell form_cell_v1_mod clone_target">
                        <dt class="form_c_hline form_v1_mod hline_hide_mod">
                            <label for="Enter_email_of_user">Enter email of user</label>
                        </dt>
                        <dd class="form_c_f_w form_v1_mod hline_hide_mod">
                            <input type="text" id="Enter_email_of_user" placeholder="Enter email of user" class="f_c_field default_mod import_contacts ">
                        </dd>
                    </dl>
                    <div class="dialog_form_inject_block"></div>
                    <div class="invite_another_user_butt">Invite Another User</div>
                </div>
                <footer class="dialog_footer">
                    <div class="dialog_cancel_butt">Cancel</div>
                    <div class="send_invite_butt">Send an Invite</div>
                </footer>
            </div>
            <div id="user_invite_tab_2" class="tab_block">
                <ul class="users_list added_mod invite_user_mod">
                    <li class="users_l_item added_mod invite_user_mod">
                        <div class="user_block msg_mod popup_mod ">
                            <div class="user_avatar_w msg_mod popup_mod "><img src="i/space.jpg" alt="Michael Abehsera" class="user_avatar_img msg_mod popup_mod">
                            </div>
                            <div class="user_name msg_mod popup_mod">Michael Abehsera</div>
                        </div>
                        <div class="resend_invite_butt">Resend invite</div>
                    </li>
                    <li class="users_l_item added_mod invite_user_mod">
                        <div class="user_block msg_mod popup_mod ">
                            <div class="user_avatar_w msg_mod popup_mod "><img src="i/space.jpg" alt="John Allen" class="user_avatar_img msg_mod popup_mod">
                            </div>
                            <div class="user_name msg_mod popup_mod">John Allen</div>
                        </div>
                        <div class="signed_up_butt">Signed up</div>
                    </li>
                    <li class="users_l_item added_mod invite_user_mod">
                        <div class="user_block msg_mod popup_mod ">
                            <div class="user_avatar_w msg_mod popup_mod "><img src="i/space.jpg" alt="Andrey" class="user_avatar_img msg_mod popup_mod">
                            </div>
                            <div class="user_name msg_mod popup_mod">Andrey</div>
                        </div>
                        <div class="resend_invite_butt">Resend invite</div>
                    </li>
                </ul>
                <footer class="dialog_footer">
                    <div class="dialog_cancel_butt">Cancel</div>
                </footer>
            </div>
        </div>
    </div>
</div>