<div class="secondary_row layuot_mod_1">
    <div class="user_block about_mod ">
        <div class="user_avatar_w about_mod "><img src="i/user_ava.jpg" alt="Ron Vail" class="user_avatar_img about_mod"/>
        </div>
        <div class="user_name about_mod">Ron Vail</div>
        <div class="user_info about_mod">Senior Auditor, Educator, Trainer</div>
        <div class="user_edit_ava_butt about_mod">Edit Picture</div>
    </div>
    <div class="create_profile_butt">
        <div class="first_line">Create your business profile</div>
        <div class="second_line">Get Started</div>
    </div>
    <div class="invite_butt mod_halo">Invite Users</div>
</div>
