<div class="secondary_row layuot_mod_1">
  <div class="section_menu mod_1">
    <h2 class="section_hline"><%= I18n.t('badges') %> </h2>
    <ul class="section_menu_list">
      <li class="section_menu_l_item">
        <div class="section_menu_link badges_mod gfsi_auditor_mod">
          <p>GFSI Auditor</p><span class="section_m_link_count mod_1">?</span>
        </div>
      </li>
      <li class="section_menu_l_item">
        <div class="section_menu_link badges_mod verified_mod">
          <p>Verified User</p><span class="section_m_link_count mod_1">?</span>
        </div>
      </li>
    </ul>
  </div>
</div>