<div class="secondary_row layuot_mod_1 messages_center_mod">
  <div class="compose_msg_butt"><%= I18n.t('compose_a_message') %></div>
  <div class="section_menu">
    <h2 class="section_hline"><%= I18n.t('filter_Feed_By') %> </h2>
    <ul class="section_menu_list">
      <li class="section_menu_l_item">
        <div class="section_menu_link"><%= I18n.t('notifications') %></div>
      </li>
      <li class="section_menu_l_item">
        <div class="section_menu_link click_mod hovered_1_mod internal_operations_mod"><%= I18n.t('internal_operations') %> <span class="section_m_link_count">2</span></div>
      </li>
      <li class="section_menu_l_item">
        <div class="section_menu_link click_mod hovered_1_mod requests_mod"><%= I18n.t('requests') %> <span class="section_m_link_count">2</span></div>
      </li>
      <li class="section_menu_l_item">
        <div class="section_menu_link groups_mod"><%= I18n.t('groups') %> <span class="section_m_link_count">2</span></div>
        <ul class="section_menu_sub_list">
          <li class="section_menu_l_item">
            <div class="section_menu_link">Strawberry Producers</div>
          </li>
          <li class="section_menu_l_item">
            <div class="section_menu_link">Group #2</div>
          </li>
        </ul>
      </li>
      <li class="section_menu_l_item">
        <div class="section_menu_link network_mod"><%= I18n.t('your_Network') %> <span class="section_m_link_count">2</span></div>
        <ul class="section_menu_sub_list">
          <li class="section_menu_l_item"><a href="" title="" class="user_block section_menu_mod ">
              <div class="user_avatar_w section_menu_mod"><img ng-src="" alt="Michael Abehsera" class="user_avatar_img section_menu_mod"/></div>
              <div class="user_name section_menu_mod">Michael Abehsera</div></a>
          </li>
          <li class="section_menu_l_item"><a href="" title="" class="user_block section_menu_mod ">
              <div class="user_avatar_w section_menu_mod"><img ng-src="" alt="Michael Abehsera" class="user_avatar_img section_menu_mod"/></div>
              <div class="user_name section_menu_mod">Michael Abehsera</div></a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="create_new_group_butt">  <%= I18n.t('create_a_New_Group') %></div>
  </div>
</div>