  <div class="compose_msg_butt">Compose a Message</div>
  <div class="section_menu">
    <h2 class="section_hline">Filter Feed By</h2>
    <ul class="section_menu_list">
      <li class="section_menu_l_item">
        <div class="section_menu_link">Notifications</div>
      </li>
      <li class="section_menu_l_item">
        <div class="section_menu_link click_mod hovered_1_mod internal_operations_mod">Internal operations<span class="section_m_link_count">2</span></div>
      </li>
      <li class="section_menu_l_item">
        <div class="section_menu_link click_mod hovered_1_mod requests_mod">Requests<span class="section_m_link_count">2</span></div>
      </li>
      <li class="section_menu_l_item">
        <div class="section_menu_link groups_mod">Groups<span class="section_m_link_count">2</span></div>
        <ul class="section_menu_sub_list">
          <li class="section_menu_l_item">
            <div class="section_menu_link">Strawberry Producers</div>
          </li>
          <li class="section_menu_l_item">
            <div class="section_menu_link">Group #2</div>
          </li>
        </ul>
      </li>
      <li class="section_menu_l_item">
        <div class="section_menu_link network_mod">Your Network<span class="section_m_link_count">2</span></div>
        <ul class="section_menu_sub_list">
          <li class="section_menu_l_item"><a href="" title="" class="user_block section_menu_mod ">
            <div class="user_avatar_w section_menu_mod"><img src="i/space.jpg" alt="Michael Abehsera" class="user_avatar_img section_menu_mod"/></div>
            <div class="user_name section_menu_mod">Michael Abehsera</div></a>
          </li>
          <li class="section_menu_l_item"><a href="" title="" class="user_block section_menu_mod ">
            <div class="user_avatar_w section_menu_mod"><img src="i/john.jpg" alt="John Allen" class="user_avatar_img section_menu_mod"/></div>
            <div class="user_name section_menu_mod">John Allen</div></a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="create_new_group_butt">Create a New Group</div>
  </div>