<input type="hidden" value="<%= current_user.company.id %>" id="current_company_id"/>
<div class="view_container">
  <h1 class="content_headline" ng-hide="store.id">Assign Requirements</h1>
  <h1 class="content_headline" ng-show="store.id">View/Edit a Document</h1>
  <div class="add_info_sub_header">
    <div class="wizards_save_draft_butt">Save Draft</div>
    <div class="wizards_delete_butt">Delete</div>
  </div>

  <div class="add_info_block category_mod">
    <div class="add_info_header">
      <div class="add_info_title">Documents</div>
      <div class="add_info_colapse_butt"></div>
    </div>
    <div class="add_info_content_block">
      <div class="add_info_form_block">
        <div class="add_info_form_w">
          <dl class="form_cell form_cell_v1_mod">
            <dt class="form_c_hline form_v1_mod hline_hide_mod autocomplete_el_v1_mod">
              <label for="Enter_name_of_document_definition">Enter document name</label>
            </dt>
            <dd class="form_c_f_w form_v1_mod hline_hide_mod autocomplete_el_v1_mod">
              <select id="document_definitions" ng-model="document_definitions_list1" data-placeholder="Enter document name" multiple="multiple" class="f_c_field default_mod select_add_category normal_list" ng-options="opt as opt.document_type for opt in document_definitions_list track by opt.id" >
                
              </select>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="add_info_block">
    <div class="add_info_header">
      <div class="add_info_title">Suppliers</div>
      <div class="add_info_colapse_butt"></div>
    </div>
    <div class="add_info_content_block">
      <div class="add_info_form_block">
        <div class="add_info_form_w">
          <dl class="form_cell form_cell_v1_mod">
            <dt class="form_c_hline form_v1_mod hline_hide_mod autocomplete_el_v1_mod">
              <label for="Enter_name_of_supplier">Enter supplier name</label>
            </dt>
            <dd class="form_c_f_w form_v1_mod hline_hide_mod autocomplete_el_v1_mod">
              <select id="suppliers" ng-model="company_supplier" data-placeholder="Enter name of supplier" multiple="multiple" class="f_c_field default_mod select_add_category normal_list_v2"
                  ng-options="opt as opt.name for opt in document_type_for_list track by opt.id" >
              </select>
            </dd>
          </dl>
          <dl class="form_cell form_cell_v1_mod select_add_product hidden_field" style="display: none">
            <dt class="form_c_hline form_v1_mod hline_hide_mod autocomplete_el_v1_mod">
              <label for="Enter_name_of_product">Select Products</label>
            </dt>
            <dd class="form_c_f_w form_v1_mod hline_hide_mod autocomplete_el_v1_mod">
              <select id="products" ng-model="operation_products" data-placeholder="Select Products" multiple="multiple" class="f_c_field default_mod select_add_category normal_list_v2"
                  ng-options="opt as opt.name for opt in products track by opt.id" >
              </select>
            </dd>
          </dl>
          <div class="category_wrap">
            <div ng-repeat="list in selected_list">
              <h2 ng-if="list.value.length > 0" class="category_hline">{{list.name}}</h2>
              <ul ng-if="list.value.length > 0" class="category_list">
                <li class="category_list_item" ng-repeat="product in list.value">
                  <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                    <input name="Example" type="checkbox" checked="true" class="lbl_inp_rb_ch" ng-click="deselect($event)"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_mod">{{product.name}}</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="add_info_footer"><a href="" class="wizard_add_butt" ng-click="assignRequirement(company)">Assign</a></div>
</div>