<input type="hidden" value="<%= current_user.company.id %>" id="current_company_id"/>
<input type="hidden" value="<%= current_user.id %>" id="current_user_id"/>
<div class="view_container">
  <h1 class="content_headline" ng-hide="store.id">Buyer's Requirements</h1>
  <div class="add_info_sub_header">
    <div class="wizards_save_draft_butt">Save Draft</div>
    <div class="wizards_delete_butt">Delete</div>
  </div>
  <div class="add_info_block">
    <div class="add_info_header">
      <div class="add_info_title">Buyer's Requirements</div>
      <div class="add_info_colapse_butt"></div>
    </div>
    <div class="add_info_content_block">
      <div class="add_info_form_block">
        <div class="add_info_form_w">
        </div>       
      </div>
    </div>
  </div>
  <div class="add_info_footer"><a href="" class="wizard_add_butt" ng-click="submit_filled_requirements(filled_requirements)">Save</a></div>
</div>